body{
    background-image: url(0101.png);
    font-size: 3vw;
    font-size: 3vh;
    height: 100%;
}
.wrap{
    font-size: 3vw;
    font-size: 3vh;
    width: 25%;
}
.pic1{
    width: 230px;
}
.sidebar{
    background-color: rgb(22, 22, 22);
    right: 15%;
}
h1{
    color: chartreuse;
}
h2{
    color: chartreuse;
}
p{
    color: white;
}

/* .info p{
    color: white;
} */